<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="wrapper">
                    <h3><img src="/images/banner/logo pnggg.png"></h3>
                   <form action="/subscribe" method="POST">
                    <div class="form-group" id="newsletter-form">
                        
                        <input class="form-control" placeholder="Enter Your Email" role="text" name="email" type="email" id="email" required>
                        <button type="submit" ><i class="flaticon-email"></i></button>
                        <p>Subscribe to our newsletter for exclusive updates, promotions, and insights delivered straight to your inbox!</p>
                    </div>
                </form>
                    <ol>
                     
                        <li>
                            <a href=""><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="flaticon-youtube"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="flaticon-email"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab -fa-whatsapp"></i></a>
                        </li>
                    
                    </ol>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <h2>Quick Links</h2>
                    <div class="content">
                        <ul>
                            <ul>
                                <li><a href="/"> <i class="fa fa-angle-double-right"></i> Home</a></li>
                                <li><a href="/about-us"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                                <li><a href="/contact-us"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                                <li><a href="/menu"><i class="fa fa-angle-double-right"></i>Our Menu</a></li>
                                <li><a href="/blog"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                                <li><a href="/reservation"><i class="fa fa-angle-double-right"></i>Book a Table</a></li><br>
                            </ul>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <h2> Opening Hours</h2>
                    <div class="content">
                        <ul class="d-flex se">
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Monday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Tuesday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Wednesday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Thursday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Friday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Saturday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                                <li>
                                    <a><i class="fa fa-angle-double-right"></i>Sunday</a><span>8 AM &nbsp; -&nbsp; 10PM</span>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>2023 @ All Rights Reserved Designed and developed by<a href="">éRiaa</a></p>
            </div>
        </div>
         <!-- Back to Top -->
         <a href="#" class="btn btn-lg btn-color btn-lg-square back-to-top fa-beat fa-3x "><i class="fa fa-arrow-up ">
    </div>
</div>