<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>
   
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>About Us</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- about -->


<section class="se-second">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <div class="shape-03"></div>
                        <div class="art-images">
                         <img src="images/pngwing.com (6).png" alt="the jar plate">
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <h3>About</h3>
                        <h1>For a truly perfect night out, few things beat the unwind experience at éRiaa</h1>
                        <p>Welcome to éRiaa, the ultimate destination for relaxation and comfort! We are a brand that is passionate about providing you the best option to help you unwind and have a good time.</p>
                        <p>You have worked hard, pushed hard enough in your various endeavors, and earned the right to let the steam out. How you unwind is essential and our business. The good experience is made possible through éRiaa. So come on in, sit back, and let's take care of the rest.</p>
                        <div class="shape-02"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- discount -->


<section class="se-five">
    <div class="shap"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h5>20% Discount</h5>
                    <h2>Enjoy with Family and Friends</h2>
                    <p>We know that everyone loves a good deal, which is why we offer a special discount menu that features all our most popular items at reduced prices. Whether you're on a tight budget or just love a bargain, our discount menu is the perfect way to enjoy our delicious food and drinks without breaking the bank.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="se-seconds">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <h3>Our Misssion</h3>
                        <p>Our mission is to provide an authentic and immersive Nigerian and African culinary experience,
                             while also promoting culture, creating a relaxing atmosphere and offering top-notch entertainment.
                              We aim to be the go-to meeting point for Nigerians and friends of Nigeria in Canada, 
                            fostering a sense of community and connection through our food, entertainment, and hospitality."</p>
                    </div>
                    <div class="content">
                    <h3>Service Philosophy</h3>
                     <ul>
                     <li> <i class="fa fa-angle-double-right"></i> <strong>Hospitality: </strong><span>At éRiaa, we believe in treating every guest like family. We welcome you with open arms and ensure that your unwind experience is fun, friendly, and welcoming.</span> </li>

                    <li><i class="fa fa-angle-double-right"></i> <strong>Entertainment: </strong><span>We know that food is just one part of a great dining experience. That's why we also provide authentic native entertainment that immerses you in our vibrant culture. </span></li>
        
                    <li><i class="fa fa-angle-double-right"></i> <strong>Cultural Authenticity: </strong><span>Our menu is a celebration of our rich cultural heritage. We take pride in preparing our dishes using traditional methods. We want to share the flavors, aromas, and textures of our homeland with you.</span></li>
                    <li><i class="fa fa-angle-double-right"></i> <strong>Attention to Details: </strong><span>We believe that it's the little things that make a big difference. From the moment you walk in, we pay attention to every detail to make sure that you have an unforgettable unwinding experience. </span></li>
                    <li><i class="fa fa-angle-double-right"></i> <strong>Responsiveness: </strong><span>Your needs are our top priority. That's why we are always responsive to your requests and feedback. At éRiaa, we always listen and adapt to meet your needs.</span></li>
                     <li><i class="fa fa-angle-double-right"></i> <strong>Consistency: </strong><span>We deliver the same high-quality food, service, and experience every time you visit us. Whether you order online or dine in, you can always expect the same level of excellence that we are known for.</span></li>
                    </ul>
                </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <h3>Our Story</h3>
                        <p>At our brand, we are passionate about sharing the rich cultural heritage of Nigeria and Africa with the world. It all began with a vision to bring the authentic taste of Nigerian cuisine to Canada, and provide a unique experience for our customers. Our founders, who are proud Nigerians, saw an opportunity to showcase the vibrant culture and diverse cuisine of their homeland in a new and exciting way. <br>

                            As we grew, we realized that our brand could be much more than just a restaurant. We wanted to create a gathering place where people from all backgrounds could come together to enjoy great food, entertainment, and relaxation. A place where Nigerians living in Canada could feel at home, and where others could experience the warmth and hospitality of our culture. <br>
                            
                            With that in mind, we expanded our offerings to include online meal ordering, a relaxation zone, cultural events, and native entertainment. Our brand is now more than just a restaurant, it's a destination. We are proud to be a meeting point for all Nigerians, and a place where everyone can come together to unwind, connect, and experience the best of Nigerian and African culture.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('./partials/footer.ejs') %>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>