<!-- main website blog page -->
<!DOCTYPE html>
<html lang="en">
<head> 

    <%- include('./partials/head.ejs') %>
</head>
<body>
   
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>Our Blog</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>Our Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-06" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h4>Blog</h4>
                            <h2>Explore Our News</h2>
                            <p>At éRiaa, we're all about creating an experience that's both relaxing and entertaining. Our news blog is just one more way to keep you informed and engaged with our brand. So take a look around, explore our latest posts, and discover all that we have to offer.</p>
                        </div>
                    </div>
        
                    <div class="blog-main-card d-flex">
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/1.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
        
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/2.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
        
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/3.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
                    </div>

                    <div class="blog-main-card d-flex">
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/1.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
        
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/2.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
        
                        <article class="blog-sub">
                            <div class="blog-content">
                            <img src="images/blog/3.jpg">
                            </div>
                            <div class="blog-content-date">
                                Mar
                                <span> 13</span>
                            </div>
                            <div class="blog-content-section">
                            <div class="blo-content-title">
                                <h4>Possession so comparison inquietude he conviction </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
		                        <button class="show-more-btn" onclick="showMore(event)">Read more</button>
                                <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                praesentium
                                facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                                animi assumenda.</p>
                            </div>
                            <div class="blog-admin">
                                <ol>
                                <li><i class="fa fa-user-tie"></i> By Admin</li>
                                <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                                </ol>
                            </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        </main>



  


    <%- include('./partials/footer.ejs') %>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>