<%- include('./partials/head.ejs') %>

<body>

  

  <div class="thank-you">
    <div class="title">Order Cancelled!</div>
    <div class="subtitle">We're sorry to hear that you canceled your order.</div>
    <a href="/cart" class="btn">Go back</a>
  </div> 


  


  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins/owl.carousel.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/cart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


