<!-- contact page of main website -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    
    <%- include('./partials/nav.ejs') %>
  <!-- /////////////////header-started/////////////////////// --> 
 

    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>Contact Us</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>Contact Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <section class="bg-0-bb">
        <div class="container">
            <div class="row">
                <div class="main-card-contact d-flex">
                    <div class="sup-card-contact">
                        <div class="sup-content">
                            <div class="head-content">
                                <h2>Leave A Message Here</h2>
                                <p>This is the place where you can leave us a message, and our team will be thrilled to assist you.
                                    Whether you have a question about our meal, need assistance with an order, or simply want to share our thoughts, we're here to listen.</p>
                            </div>

                            <div class="contact-title">
                                <h2>Contact Details</h2>
                                <ol>
                                    <li><i class="flaticon-placeholder"></i>ALBERTA, CANADA</li>
                                    <li><i class="flaticon-call"></i>1-403-402-1376</li>
                                    <li><i class="flaticon-email"></i>Info@éRiaa.com</li>
                                    <li><i class="flaticon-clock"></i>Mon - Sat 8.00AM - 10.00PM</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="sup-card-contact-0a">
                        <div class="contact-a1">
                            <form action="/contact-us" method="post">
                                <div class="dived d-flex">
                                    <div class="form-group">
                                        <div class="form-sup">
                                            <div class="cal-01">
                                                <input type="name" name="name" id="" class="form-control"
                                                    placeholder="Enter Your Name" required>
                                                <i class="flaticon-user"></i>
                                            </div>

                                            <div class="cal-01">
                                                <input type="phone" name="phone" id="" class="form-control"
                                                    placeholder="Phone Number" required>
                                                <i class="flaticon-call"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-sup">
                                            <div class="cal-01">
                                                <input type="email" name="email" id="" class="form-control"
                                                    placeholder="Email" required>
                                                <i class="flaticon-email"></i>
                                            </div>
                                            <div class="cal-01">
                                                <input type="text" name="subject" id="" class="form-control"
                                                    placeholder="Enter Subject" required>
                                                <i class="flaticon-type"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ca-ool">
                                        <textarea name="message" cols="120" rows="10" class="form-control"
                                            placeholder="Message" required></textarea>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="Submit" id="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="map">
    <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.1546137861105!2d-114.01965608474826!3d51.2530625370891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53715fc9ef621961%3A0x72a1e876994578e2!2s262%20Hillcrest%20Heights%20SW%2C%20Airdrie%2C%20AB%20T4B%202R9%2C%20Canada!5e0!3m2!1sen!2sng!4v1678549884032!5m2!1sen!2sng" height="450" frameborder="0"; allowfullscreen="" loading="lazy"></iframe>

</section>   
        
    </main>
    

    <%- include('./partials/footer.ejs') %>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>