<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="home">
 
<%- include('./partials/nav.ejs') %>

<main>
   <!-- one section carousel -->
    <section class="slider">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <img src="images/banner/banner-01.jpg" alt="carousel">
                    <div class="wrapper">
                        <h6>Exclusive Offer</h6>
                        <h1>We are here to provide the best unwind service</h1>
                        <p>We offer easy online ordering system with discount so you can have authentic 
                            taste of our cuisine, the real taste of African culture.</p>
                        <a href="/menu">Order Now</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/paul-zoetemeijer-ekBOf6sJYYo-unsplashnew3.jpg" alt="carousel">
                    <div class="wrapper">
                        <h6>Exclusive Offer</h6>
                        <h1>We are here to provide the best unwind service</h1>
                        <p>We offer easy online ordering system with discount so you can have authentic 
                            taste of our cuisine, the real taste of African culture</p>
                        <a href="/menu">Order Now</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/aditya-chinchure-ZhQCZjr9fHo-unsplashnew2.jpg" alt="carousel">
                    <div class="wrapper">
                        <h6>Exclusive Offer</h6>
                        <h1>We are here to provide the best unwind service</h1>
                        <p>We offer easy online ordering system with discount so you can have authentic 
                            taste of our cuisine, the real taste of African culture</p>
                        <a href="/menu">Order Now</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
    </section>


    <section class="bg-01">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="wrapper">
                        <div class="content">
                            <div class="icon">
                                <span class="fa-solid fa-stopwatch"></span>
                            </div>
                            <div class="sentence">
                            <strong>Mon - Sat 8.00AM - 10.00PM</strong>
                            <p>Working Hours</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="wrapper">
                        <div class="content">
                            <div class="icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <div class="sentence">
                            <strong>Alberta Canada</strong>
                            <p>Get Directions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="wrapper">
                        <div class="content">
                            <div class="icon">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="sentence">
                            <strong>1-403-402-1376</strong>
                            <p>Call & Chat Online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- ABOUT US SECTION -->

   <section class="se-second">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <div class="shape-03"></div>
                        <div class="art-images">
                         <img src="images/pngwing.com (6).png" alt="the jar plate">
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="wrapper">
                    <div class="content">
                        <h3>About</h3>
                        <h1>For a truly perfect night out, few things beat the unwind experience at éRiaa</h1>
                        <p>Welcome to éRiaa, the ultimate destination for relaxation and comfort! We are a brand that is passionate about providing you the best option to help you unwind and have a good time.</p>
                        <p>You have worked hard, pushed hard enough in your various endeavors, and earned the right to let the steam out. How you unwind is essential and our business. The good experience is made possible through éRiaa. So come on in, sit back, and let's take care of the rest.</p>
                        <ol>
                            <li><a href="/about-us">Read more</a></li>
                        </ol>
                        <div class="shape-02"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>



<!-- HOW IT WORKS SECTION -->
<section class="se-third">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h3>Work</h3>
                    <h2>How It Works</h2>
                    <p>At éRiaa, we believe that life should be enjoyable, and we're here to help you make the most of it. Whether you're looking for a relaxing evening out, a fun night with friends, connect with those around you, or a quick and easy meal at home, we've got you covered.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <div class="content">
                        <ol>
                            <li>
                                <i class="fa fa-user-group"></i>
                                <h4>Unwind & Connect</h4>
                                <p>Step into our cozy atmosphere, filled with comfy seating, soft lighting, a warm ambiance to relax alone and a lively spot to catch up with friends.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <div class="content">
                        <ol>
                            <li>
                                <i class="fa fa-shopping-basket"></i>
                                <h4>Pick Orders</h4>
                                <p>We offer a wide range of variety to suit all tastes and preferences. Choose from our menu and pick the perfect options for dine-in, takeout, or delivery.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <div class="content">
                        <ol>
                            <li>
                                <i class="fa-solid fa-truck"></i>
                                <h4>Fast Deliveries</h4>
                                <p>Can't make it to our location? No problem! We offer fast & reliable delivery options straight to your doorstep. Simply order and let us take care of the rest.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- discount -->

<section class="se-five">
    <div class="shap"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h5>20% Discount</h5>
                    <h2>Enjoy with Family and Friends</h2>
                    <p>We know that everyone loves a good deal, which is why we offer a special discount menu that features all our most popular items at reduced prices. Whether you're on a tight budget or just love a bargain, our discount menu is the perfect way to enjoy our delicious food and drinks without breaking the bank.</p>
                    <a href="/menu">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- OUR SERVICES -->

<section class="se-four">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Services</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-microphone"></i>
                        <h4>Entertainment</h4>
                        <p>All with a dash of humor from Naija and Africa, éRiaa embodies the spirit of 
                            culture and entertainment to share beautiful moments with the 
                            people you love listening to music, watching exiting live shows.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-fire-burner"></i>
                        <h4>Nigeria Cuisine</h4>
                        <p>We offer a wide range of authentic Nigerian dishes, using only the freshest and highest quality ingredients. Our menu is designed to provide our customers with a taste of Nigeria’s diverse and rich culinary heritage.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-cocktail"></i>
                        <h4>Hangout & Relaxation</h4>
                        <p>Whether you are meeting up with friends or enjoying a solo meal, our brand is committed to providing a comfortable and welcoming environment where customers can hangout, socialize, relax and unwind.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-pepper-hot"></i>
                        <h4>Pristine Native Flavour</h4>
                        <p>At éRiaa, we specialize in traditional African cuisine, with a also focus on Nigerian dishes. We're passionate about using fresh, high-quality ingredients to showcase the authentic taste of native herbs, spices and ingredients.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-mortar-pestle"></i>
                        <h4>Africa Native Meals</h4>
                        <p>We also offer a variety of other African dishes that showcase the wide range of culinary traditions found throughout Africa. We provide our customers with a complete experience that celebrates cultural beauty and diversity.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-9">
                <div class="wrapper">
                    <div class="content">
                        <i class="fa fa-truck-plane"></i>
                        <h4>Express Delivery</h4>
                        <p>We are dedicated to providing our customers with the fastest and most efficient delivery service, using the latest technology to ensure that their orders are been delivered to them as quickly and safely as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- MENU SECTION -->


<section class="menu-items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h4>Our Menu</h4>
                    <h2>Explore Our Best Menu</h2>
                    <p>From classic favorites to innovative and contemporary dishes, Our menu is no exception to creating an unforgettable unwind experience. At éRiaa, you'll find a diverse selection of delicious food and drink options to satisfy any craving.</p>
                </div>
            </div>
            <div class="col-12">
                <div class="wrapper">
                   <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                       <li class="nav-item">
                           <a class="nav-link active" id="cooked-item" data-toggle="tab" href="#cooked" role="tab" aria-controls="all" aria-selected="true">Cooked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="grill-items" data-toggle="tab" href="#grill" role="tab" aria-controls="profile" aria-selected="false">Grill</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="baked-items" data-toggle="tab" href="#baked" role="tab" aria-controls="contact" aria-selected="false">Baked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="deserts-item" data-toggle="tab" href="#deserts" role="tab" aria-controls="contact" aria-selected="false">Deserts</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="beverage-item" data-toggle="tab" href="#beverage" role="tab" aria-controls="contact" aria-selected="false">Beverage</a>
                       </li>
                   </ul>

                   <div class="tab-content" id="myTabContent">
                       <div class="tab-pane fade show active" id="cooked" role="tabpanel" aria-labelledby="cooked-item">
                           <div class="row">
                               
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <figure>
                                       <div class="images">
                                           <img src="images/menu/1.jpg">
                                       </div>
                                       <div class="content">
                                           <h4>Almond Baked Brie<span>$10</span></h4>
                                           <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                           <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                       </div>
                                   </figure>
                               </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <figure>
                                       <div class="images">
                                           <img src="images/menu/2.jpg">
                                       </div>
                                       <div class="content">
                                           <h4>Tuscan Flatbread<span>$10</span></h4>
                                           <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                           <button class="add-to-cart" data-name="Almond" data-price="10">Add to Cart</button>
                                       </div>
                                   </figure>
                               </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="grill" role="tabpanel" aria-labelledby="grill-items">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="baked" role="tabpanel" aria-labelledby="baked-items">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="deserts" role="tabpanel" aria-labelledby="deserts-item">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="beverage" role="tabpanel" aria-labelledby="beverage-item">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </div>
</section>

<section class="bg-06" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h4>Blog</h4>
                    <h2>Explore Our News</h2>
                    <p>At éRiaa, we're all about creating an experience that's both relaxing and entertaining. Our news blog is just one more way to keep you informed and engaged with our brand. So take a look around, explore our latest posts, and discover all that we have to offer.</p>
                </div>
            </div>

            <div class="blog-main-card d-flex">
                <article class="blog-sub">
                    <div class="blog-content">
                    <img src="images/blog/1.jpg">
                    </div>
                    <div class="blog-content-date">
                        Mar
                        <span> 13</span>
                    </div>
                    <div class="blog-content-section">
                    <div class="blo-content-title">
                        <h4>Possession so comparison inquietude he conviction </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
                       
                        <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                        praesentium
                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                        animi assumenda.</p>
                    </div>
                    <div class="blog-admin">
                        <ol>
                        <li><i class="fa fa-user-tie"></i> By Admin</li>
                        <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                        </ol>
                    </div>
                    </div>
                </article>

                <article class="blog-sub">
                    <div class="blog-content">
                    <img src="images/blog/2.jpg">
                    </div>
                    <div class="blog-content-date">
                        Mar
                        <span> 13</span>
                    </div>
                    <div class="blog-content-section">
                    <div class="blo-content-title">
                        <h4>Possession so comparison inquietude he conviction </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
                    
                        <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                        praesentium
                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                        animi assumenda.</p>
                    </div>
                    <div class="blog-admin">
                        <ol>
                        <li><i class="fa fa-user-tie"></i> By Admin</li>
                        <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                        </ol>
                    </div>
                    </div>
                </article>

                <article class="blog-sub">
                    <div class="blog-content">
                    <img src="images/blog/3.jpg">
                    </div>
                    <div class="blog-content-date">
                        Mar
                        <span> 13</span>
                    </div>
                    <div class="blog-content-section">
                    <div class="blo-content-title">
                        <h4>Possession so comparison inquietude he conviction </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet, libero vel laoreet pharetra, augue velit varius sapien, vel aliquet nisl nisi eu ipsum. Sed id orci vel nisl malesuada elementum. Sed vel felis quis leo pulvinar efficitur. Ut vel tellus metus.</p>
                       
                        <p class="read-more">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                        praesentium
                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit
                        animi assumenda.</p>
                    </div>
                    <div class="blog-admin">
                        <ol>
                        <li><i class="fa fa-user-tie"></i> By Admin</li>
                        <li><i class="fa fa-calendar-alt"></i> july 28, 2020</li>
                        </ol>
                    </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
      


</main>


<!-- footer -->


    <%- include('./partials/footer.ejs') %>



<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/index.js"></script>
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>


</html>