<!-- admin login page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>

  <form class="form-01-main" action="/admin" method="POST">
      <div class="form-cover">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-sub-main">
              <div class="_main_head_as">
                  <img src="images/7309678.jpg">
                  <h2>Admin Login</h2>
                   <p>Please enter  your Login details !</p>
              </div>
              <div class="form-group">
                  <input id="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="Enter Email" aria-required="true" required>
              </div>

              <div class="form-group">                                              
                <input id="password" type="password" class="form-control" name="password" placeholder="********" required>
                <i class="fa fa-fw fa-eye toggle-password field-icon" onclick="myToggle()"></i>
              </div>

              <div class="form-group">
                <div class="check_box_main">
                  <a href="#" class="pas-text">Forgot Password?</a>
                </div>
              </div>

              <div class="form-group">
                <div class="btn_uy">
                  <input type="submit" value="Login" id="submit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </form>
    

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>