<!-- main website blog page -->
<!DOCTYPE html>
<html lang="en">
<head> 

    <%- include('./partials/head.ejs') %>
</head>
<body>
   
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="/">
            <img src="/images/banner/logo pnggg.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto menu">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="cart-count"></span>
                </a>
              </li>
            </ul>
    
            <ul class="navbar-nav book">
              <li class="nav-item">
                <a class="nav-link" href="/reservation">Reservation</a>
              </li>
            </ul>
    
           
             
            
    
          </div>
        </div>
      </nav>
    </header>
    

    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>Our Blog</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>Our Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-06" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h4>Blog</h4>
                            <h2>Explore Our News</h2>
                            <p>At éRiaa, we're all about creating an experience that's both relaxing and entertaining. Our news blog is just one more way to keep you informed and engaged with our brand. So take a look around, explore our latest posts, and discover all that we have to offer.</p>
                        </div>
                    </div>
                   
                    <div class="blog-main-card">
                        <% blog.forEach(function(blog) { %>
                        <article class="blog-sup">
                            <div class="blog-content-section">
                            <div class="blo-content">
                                <h4><%= blog.title %></h4>
                                <p><%= blog.content %></p>
                            </div>
                        </article>
                        <% }) %>
        
                       
        
                    </div>
                </div>
            </div>
        </section>

        </main>



  


    <%- include('./partials/footer.ejs') %>

    
    <!-- <script src="js/index.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>