<!-- menu website menu page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    
   
    <%- include('./partials/nav.ejs') %>


    <main>
        <section class="abt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <h2>Our Menu</h2>
                            <ol>
                                <li>Home<i class="flaticon-right-arrow"></i></li>
                                <li>Our Menu</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    
<!-- MENU SECTION -->




<section class="menu-items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h4>Our Menu</h4>
                    <h2>Explore Our Best Menu</h2>
                    <p>From classic favorites to innovative and contemporary dishes, Our menu is no exception to creating an unforgettable unwind experience. At éRiaa, you'll find a diverse selection of delicious food and drink options to satisfy any craving.</p>
                </div>
            </div>
            <div class="col-12">
                <div class="wrapper">
                   <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                       <li class="nav-item">
                           <a class="nav-link active" id="cooked-item" data-toggle="tab" href="#cooked" role="tab" aria-controls="all" aria-selected="true">Cooked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="grill-items" data-toggle="tab" href="#grill" role="tab" aria-controls="profile" aria-selected="false">Grill</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="baked-items" data-toggle="tab" href="#baked" role="tab" aria-controls="contact" aria-selected="false">Baked</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="deserts-item" data-toggle="tab" href="#deserts" role="tab" aria-controls="contact" aria-selected="false">Deserts</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="beverage-item" data-toggle="tab" href="#beverage" role="tab" aria-controls="contact" aria-selected="false">Beverage</a>
                       </li>
                   </ul>

                   <div class="tab-content" id="myTabContent">
                       <div class="tab-pane fade show active" id="cooked" role="tabpanel" aria-labelledby="cooked-item">
                           <div class="row">
                               
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <figure>
                                       <div class="images">
                                           <img src="images/menu/1.jpg">
                                       </div>
                                       <div class="content">
                                           <h4>Almond Baked Brie<span>$10</span></h4>
                                           <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                           <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                       </div>
                                   </figure>
                               </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <figure>
                                       <div class="images">
                                           <img src="images/menu/2.jpg">
                                       </div>
                                       <div class="content">
                                           <h4>Tuscan Flatbread<span>$10</span></h4>
                                           <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                           <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                       </div>
                                   </figure>
                               </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                                 
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg" >
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                             <figure>
                                 <div class="images">
                                     <img src="images/menu/6.jpg">
                                 </div>
                                 <div class="content">
                                     <h4>Spicy Clup<span>$10</span></h4>
                                     <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                     <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                 </div>
                             </figure>
                         </div>
                         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                            <figure>
                                <div class="images">
                                    <img src="images/menu/3.jpg" >
                                </div>
                                <div class="content">
                                    <h4>Almond Baked Brie<span>$10</span></h4>
                                    <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                    <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                </div>
                            </figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                            <figure>
                                <div class="images">
                                    <img src="images/menu/1.jpg">
                                </div>
                                <div class="content">
                                    <h4>Tuscan Flatbread<span>$10</span></h4>
                                    <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                    <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                </div>
                            </figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                         <figure>
                             <div class="images">
                                 <img src="images/menu/2.jpg">
                             </div>
                             <div class="content">
                                 <h4>Spicy Clup<span>$10</span></h4>
                                 <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                 <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                             </div>
                         </figure>
                     </div>
                        </div>
                    </div>

                    

                    <div class="tab-pane fade" id="grill" role="tabpanel" aria-labelledby="grill-items">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="baked" role="tabpanel" aria-labelledby="baked-items">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="deserts" role="tabpanel" aria-labelledby="deserts-item">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                    
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="beverage" role="tabpanel" aria-labelledby="beverage-item">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/3.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/4.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/5.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/6.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Spicy Clup<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/2.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Tuscan Flatbread<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="sec-meal">
                                <figure>
                                    <div class="images">
                                        <img src="images/menu/1.jpg">
                                    </div>
                                    <div class="content">
                                        <h4>Almond Baked Brie<span>$10</span></h4>
                                        <p>Pork, chicken and vegetable fried rolls served with lettuce wraps</p>
                                        <button class="add-to-cart" data-name="Almond Baked" data-price="10">Add to Cart</button>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </div>
</section>

</main>

<%- include('./partials/footer.ejs') %>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/index.js"></script>
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>