<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script>
 document.addEventListener('DOMContentLoaded', function() {
  var modal = document.getElementById('thankyou-modal');
  var closeButton = document.getElementById('close-button');
  
  // Show the modal
  modal.style.display = 'block';
  closeButton.addEventListener('click', function() {
    modal.style.display = 'none';
  });
});

</script>    
</head>
<body>
    <%- include('./partials/nav.ejs') %>
   
  <div id="thankyou-modal" class="modal">
    <div class="modal-content">
      <h2>Thank You!</h2>
      <p>Thank you for your reservation. We look forward to seeing you!</p>
      <button id="close-button">Close</button>
    </div>
   
  </div>

  <!-- Add your JavaScript code to handle the modal behavior -->



</body>
</html>