<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="thank-you">
    <div class="title">Thank You!</div>
    <div class="subtitle">We have received your reservation.</div>
    <i class="icon fa-beat fas fa-check-circle"></i>
    <a href="/" class="btn">Go Back</a>
  </div> 


  
  <%- include('./partials/footer.ejs') %>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins/owl.carousel.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/cart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
