<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1 style="text-align: center;"> Unsubscribe from our Newsletter</h1>
    <p style="text-align: center;">You have successfully Unsubscribe from our Newsletter. We are sorry to see you go.</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>