<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <section class="form-body">
        <div class="content-form">
          <div class="text">
            Create Your Account
          </div>
          <form action="/register">
             <div class="field">
                <input name="name" type="text" required>
                <span class="fas fa-user"></span>
                <label for="name">Name</label>
             </div>
             <div class="field">
                <input name="email" type="text" required>
                <span class="fas fa-envelope"></span>
                <label for="email">Email</label>
             </div>
               <!-- adding an email error div to display email error message -->
             <div class="email error"></div>

             <div class="field">
                <input name="password" type="password" required>
                <span class="fas fa-lock"></span>
                <i class="fa fa-fw fa-eye toggle-password field-icon" onclick="myToggle()"></i>
                <label for="password">Create Password</label>
             </div>
             <div class="field">
                <input name="confirmPassword" type="password" required>
                <span class="fas fa-lock"></span>
                <i class="fa fa-fw fa-eye toggle-password field-icon" onclick="myToggle()"></i>
                <label for="confirmPassword">Confirm Password</label>
             </div>
             <!-- adding a password error div to display password error message -->
             <div class="password error"></div>
             
             <button class="sign-btn">Signup</button>
             <div class="sign-up">
                Already have an account?
                <a href="">Login</a>
             </div>
          </form>
       </div>
      </section>

      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/plugins/owl.carousel.min.js"></script>
      <script src="js/index.js"></script>
      <script>
         document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error')

            form.addEventListener('submit', async (e) => {
               e.preventDefault();

               // reset errors
               emailError.textContent = '';
               passwordError.textContent = '';

               // get values
               const name = form.name.value;
               const email = form.email.value;
               const password = form.password.value;
               const confirmPassword = form.confirmPassword.value;
               var matchedPassword;

               // check if password and confirm password match
               const checkPasswordMatch = () => {
                  if (password === confirmPassword) return true;
                  return false;
               }


               // sending password if only it matched
               try {
                  if (checkPasswordMatch()) {
                  matchedPassword = password;
                  } 
               } catch (error) {
                  console.log(error)
               }

               //   // Create the data object with the form values
               var data = {
                  name,
                  email,
                  matchedPassword
               }  

               // Send the request to the '/register' endpoint
               fetch('/register', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify(data)
            })
            .then(res => {
               if (res.ok) {
                  console.log(res)
                  console.log('Data successfully sent to backend')
               } else {
                  emailError.textContent = res.errors.email;
                  passwordError.textContent = res.errors.password;
               }
               if (data.user) {
                 location.assign('/');
               }
            })
            .catch(error => {
               console.log(error)
            });


               // console.log(email, password, confirmPassword, name)
               // console.log(checkPasswordMatch())
               // console.log(matchedPassword)
            })
         });
         
      </script>
</body>
</html>